{% extends 'CustomerPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}
{% if data %}
<table class="customers">
    <tr>
        <th>Booking ID</th>
        <th>Hall</th>  
        <th>Date</th>   
        <th>Amount</th> 
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.7}}</td>
        <td>{{d.2}}</td>
        <td>{{d.11}}</td>
        <td>{{d.13}}</td>
        <td><a href="/CustomerViewEventPayment/?id={{d.7}}&st=Paid&am={{d.13}}">Accept</a></td>
        <td><a href="/CustomerViewEventPayment/?id={{d.7}}">Cancel</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>No Booking</h1>
{% endif %}
{% endblock %}