{% extends 'ResortPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}
<table class="customers">
    <tr>
        <th>Booking ID</th>
        <th>Customer</th>
        <th>Phone</th>  
        <th>Email</th>   
        <th>Restaurant</th>  
        <th>Date</th>    
        <th>Time</th>  
        <th>Guest</th>      
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.6}}</td>
        <td>{{d.17}}</td>
        <td>{{d.21}}</td>
        <td>{{d.22}}</td>
        <td>{{d.2}}</td>
        <td>{{d.11}}</td>
        <td>{{d.13}}</td>
        <td>{{d.10}}</td>
        <td><a href="/ResortViewDiningBooking/?id={{d.6}}&st=Accept&fo={{d.21}}">Accept</a></td>
        <td><a href="/ResortViewDiningBooking/?id={{d.6}}&st=Reject&fo={{d.21}}">Reject</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}