{% extends 'CustomerPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}

{% if data %}
<table class="customers">
    <tr>
        <th>Booking ID</th>
        <th>Room</th>  
        <th>Check In</th>    
        <th>Check Out</th>  
        <th>No.Of Rooms</th>
        <th>amount</th>      
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.6}}</td>
        <td>{{d.2}}</td>
        <td>{{d.10}}</td>
        <td>{{d.11}}</td>
        <td>{{d.12}}</td>
        <td>{{d.13}}</td>
        <td><a href="/CustomerViewAccoPayment/?id={{d.6}}&st=Paid&am={{d.13}}">Payment</a></td>
        <td><a href="/CustomerViewAccoPayment/?id={{d.6}}">Cancel</a></td>
    </tr>
    
    {% endfor %}
    
</table>
{% else %}
<h1>No Booking</h1>
{% endif %}
{% endblock %}