{% extends 'CustomerResortSingle.html' %}
{% block body %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %} 
<table align="center">
<tr>
    <td><label>Restaurant</label></td>
    <td><input type="text" value="{{diname}}" readonly name="rest" class="textbox"></td>
</tr>
<tr>
    <td><label>Date</label></td>
    <td><input type="date" name="checkin" min="{{ct}}"  class="textbox"></td>
</tr>
<tr>
    <td><label>Guest</label></td>
    <td><input type="text" name="guest"  class="textbox"></td>
</tr>
<tr>
    <td><label>Time</label></td>
    <td><input type="time" name="time"  class="textbox"></td>
</tr>
<tr>
    <td><input type="submit" value="Make A Reservation" name="Add" class="but"/></td>
</tr>
</table>

</form>
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
{% endblock %}